/* src/Feedback.css */

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.feedback-text {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-wrap: break-word; /* Ensure content wraps correctly */
    overflow-wrap: break-word;
    max-width: 100%; /* Ensure the feedback box stays within the container */
    box-sizing: border-box; /* Ensure padding is included in the width */
    max-height: 400px; /* Adjust this value as necessary */
    overflow-y: auto; /* Enable vertical scrolling */
}

.feedback-text p {
    white-space: pre-wrap; /* Allows wrapping within <pre> tag */
    word-wrap: break-word; /* Ensures long words wrap */
    overflow-wrap: break-word; /* Ensures proper wrapping */
    font-size: 1rem; /* Optional: you can adjust the font-size if needed */
    line-height: 1.6; /* Optional: adjust line height for readability */
    margin: 0;
}


.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #fcafdb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fd89cb;
}
