/* src/components/SelectCoach.css */

.select-coach-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.select-coach-page h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    gap: 20px;
}

.button-container button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #fcafdb;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #fd89cb;
}
