.speech-analysis-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc; /* Add border to the container */
    border-radius: 8px; /* Rounded corners */
    background-color: white; /* White background */
}

.waveform {
    width: 100%; /* Full width for the waveform */
    height: 128px; /* Height for the waveform */
    margin-top: 20px; /* Space above */
}

.controls {
    display: flex;
    gap: 10px; /* Space between buttons */
    margin-top: 20px; /* Space above controls */
}

.controls button {
    padding: 10px;
    font-size: 1.5rem; /* Larger button text */
    color: #fff;
    background-color: #fcafdb; /* Use your color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #fd89cb; /* Hover color */
}

.button-container {
    margin-top: 20px; /* Space above submit button */
}

.button-container button {
    padding: 12px 20px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #fcafdb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container button:hover {
    background-color: #fd89cb;
}
