/* src/components/StartPage.css */
.start-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik', sans-serif;
    background-color: #f9f9f9;
    padding: 20px;
}

.start-page h1 {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.start-page p {
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.start-page button {
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #f0aacc; /* Change button color here if needed */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-page button:hover {
    background-color: #0056b3;
}